body,
.navbar {
    margin: 0 7.5rem;
    background-color: #d32f2f;
}
/* Typography */
h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: normal;
}

/* Color Palette */
/* The colors where tested for accesibility in terms of contrast */
:root {
    --primary: #0d47a1;
    --background: #bbdefb;
    --dark-text: #212121;
    --light-text: #ffffff;
    --success: #388e3c;
    --failure: #d32f2f;
    --neutral-1: #757575;
    --neutral-2: #bdbdbd;
    --neutral-3: #e0e0e0;
}
