@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap");
body {
    margin: 0 2.5rem;
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Typography */
h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: normal;
}

/* Color Palette */
/* The colors where tested for accesibility in terms of contrast */
:root {
    --primary: #0d47a1;
    --background: #bbdefb;
    --dark-text: #212121;
    --light-text: #ffffff;
    --success: #388e3c;
    --failure: #d32f2f;
    --neutral-1: #757575;
    --neutral-2: #bdbdbd;
    --neutral-3: #e0e0e0;
}
