@import "../../css/app.css";
.navbar {
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navLeft > img {
    max-height: 100px;
    max-width: 100px;
}
.logoImg {
    max-height: 100px;
    max-width: 100px;
}
.navRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navRight:last-child:hover {
    background-color: var(--primary);
}
/* footerStyles */
.footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.footer-content {
    text-align: center;
}
