@import "../../css/app.css";
.navbar {
    height: 8vh;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.logoImg {
    margin-top: 1rem;
    max-height: 9rem;
    max-width: 9rem;
    border-radius: 10px;
}
.navRight > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}
.navRight ul li a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}
.navRight ul li {
    text-decoration: none;
    list-style: none;
    color: inherit;
    padding: 10px;
}
#blueBG {
    transition: color 1s ease-in-out;
    background-color: var(--primary);
    border-radius: 50px;
    color: white;
}

.navRight li a:hover {
    /* transition: color 1s ease;
    background-color: #6a96ba;
    border-radius: 50px; */
    transform: scale(1.1);
}
#blueBG:hover {
    transform: scale(1.1);
}
/* footerStyles */
.footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.footer-content {
    text-align: center;
}
